{{- if .Values.global.monitoring.prometheus.enabled }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: prometheus-sa
  namespace: {{ .Values.global.namespace }}
  labels:
    app: prometheus
    {{- include "ai-testops.labels" . | nindent 4 }}
  annotations:
    argocd.argoproj.io/sync-wave: "3"
{{- end }}
