apiVersion: v1
kind: Service
metadata:
  name: {{ include "ai-testops.fullname" . }}
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "ai-testops.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: metrics
      protocol: TCP
      name: metrics
  selector:
    {{- include "ai-testops.selectorLabels" . | nindent 4 }}
