{{- if .Values.djangoApp.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: app-config
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "ai-testops.labels" . | nindent 4 }}
  annotations:
    argocd.argoproj.io/sync-wave: "1"
data:
  POSTGRES_HOST: {{ .Values.postgres.external.host | quote }}
  POSTGRES_PORT: {{ .Values.postgres.external.port | quote }}
  POSTGRES_DB: {{ .Values.postgres.external.database | quote }}
  KAFKA_BOOTSTRAP_SERVERS: "{{ .Values.kafka.name }}.{{ .Values.namespace }}.svc.cluster.local:{{ .Values.kafka.service.port }}"
  SECRET_KEY: "django-secret-key-change-in-production"
  SOCIAL_AUTH_GOOGLE_OAUTH2_REDIRECT_URI: "http://testops.thduc.tech/auth/complete/google/"
  GRAFANA_CLOUD_PROMETHEUS_URL: "https://prometheus-prod-43-prod-ap-south-1.grafana.net/api/prom/push"
  ALLOWED_HOSTS: "testops.thduc.tech,team9.kubepractice.ru,localhost,127.0.0.1"
  CSRF_TRUSTED_ORIGINS: "https://testops.thduc.tech,https://team9.kubepractice.ru,http://localhost:8000"

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-config
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "ai-testops.labels" . | nindent 4 }}
  annotations:
    argocd.argoproj.io/sync-wave: "1"
data:
  POSTGRES_DB: {{ .Values.postgres.external.database | quote }}
{{- end }}
