{{- if .Values.djangoApp.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: app-config
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "ai-testops.labels" . | nindent 4 }}
  annotations:
    argocd.argoproj.io/sync-wave: "1"
data:
  POSTGRES_HOST: "79.174.89.43"
  POSTGRES_PORT: "18809"
  POSTGRES_DB: "team9_db"
  KAFKA_BOOTSTRAP_SERVERS: "{{ .Values.kafka.name }}.{{ .Values.namespace }}.svc.cluster.local:{{ .Values.kafka.service.port }}"
  SECRET_KEY: "django-secret-key-change-in-production"
  SOCIAL_AUTH_GOOGLE_OAUTH2_REDIRECT_URI: "http://team9.kubepractice.ru/auth/complete/google/"
  GRAFANA_CLOUD_PROMETHEUS_URL: "https://prometheus-prod-43-prod-ap-south-1.grafana.net/api/prom/push"
  ALLOWED_HOSTS: "team9.kubepractice.ru,team9.kubepractice.ru,localhost,127.0.0.1"
  CSRF_TRUSTED_ORIGINS: "https://team9.kubepractice.ru,https://team9.kubepractice.ru,http://localhost:8000"

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-config
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "ai-testops.labels" . | nindent 4 }}
  annotations:
    argocd.argoproj.io/sync-wave: "1"
data:
  POSTGRES_DB: "team9_db"
{{- end }}
